<hr>
<h3>Welcome to QuestionLand</h3>
You've got questions, we've got... a place for you to type them.
<br>
Maybe you'll get an answer!

<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" }}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
