<h2> {{model.author}}'s question involving  <em>{{model.subject}}</em>...</h2>

<!-- {{update-question question=model update="update"}} -->

{{question-detail question=model destroyQuestion="destroyQuestion"}}
